.path {
    animation: eating-path 1s ease infinite;
}

.path::before {
    content: '';
    background-color: transparent;
    width: 1rem;
    height: 1rem;
}

@keyframes eating-path {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-180%);
    }
}

.pacman {
    z-index: 1;
}

.dot {
    z-index: 1;
}

.pacman::before,
.pacman::after {
    content: '';
    position: absolute;
    top: -200px;
    display: block;
    border-radius: 50%;
    height: 0px;
    width: 0px;
}

.pacman::before {
    animation: chunk-top .5s ease infinite;
    border: 190px solid #f0dc14;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.pacman::after {
    animation: chunk-bottom .5s ease infinite;
    border: 190px solid #f0dc14;
    border-right-color: transparent;
    border-top-color: transparent;
}

@media (min-width:320px) and (max-width:754px) {


    .pacman::before,
    .pacman::after {
        top: -100px;
    }

    .pacman::before {
        animation: chunk-top .5s ease infinite;
        border: 100px solid #f0dc14;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    .pacman::after {
        animation: chunk-bottom .5s ease infinite;
        border: 100px solid #f0dc14;
        border-right-color: transparent;
        border-top-color: transparent;
    }
}

@keyframes chunk-top {

    0%,
    100% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(-80deg);
    }
}


@keyframes chunk-bottom {

    0%,
    100% {
        transform: rotate(-40deg);
    }

    50% {
        transform: rotate(0deg);
    }
}

.fade-in {
    animation: fadeIn 1s ease-in;
}

.fade-out {
    animation: fadeOut 4s ease-out;
    animation-delay: .5s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}